@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://w0.peakpx.com/wallpaper/837/991/HD-wallpaper-anime-death-note-naruto-crossover-dragon-ball-ichigo-kurosaki-goku-naruto-uzumaki-monkey-d-luffy-fairy-tail-natsu-dragneel-hunter-x-hunter-yu-gi-oh-killua-zoldyck-shinichi-kudo-conan-edogawa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    overflow: hidden;
}
